.login-popup{
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: grid;

    overflow-y: auto; 
    p{
        span{
            color: tomato;
            font-weight: 500;
            cursor: pointer;
        }
    }
}
.login-popup-container{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: #fff;
    display: flex;  
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    @media (max-width: 360px){
          width: 300px;
    }
    button{
        padding: 10px;
        border-radius: 4px;
        color: #fff;
        background-color: tomato;
        font-size: 15px;
        cursor: pointer;
    }
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    img{
        width: 16px;
        cursor: pointer;
    }
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    input{
        border: 1px solid #c9c9c9;
        padding: 10px;
        border-radius: 4px;
    }

}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
    input{
        margin-top: 5px;

    }
}